<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript">


$(document).ready(function(){
	var f = true;
	var url = "/video/start_file";

	var handleFileSelect = function(evt) {
	    var files = evt.target.files;
	    var file = files[0];

	    var formData = new FormData();
		formData.append('section', 'general');
		formData.append('action', 'previewImg');
		formData.append('image', file);
		formData.append('token', '36135354e814aae0bc84fad5ea83ebbb9816a151')
		formData.append('id',222);
		formData.append('second',22);
		formData.append('user_id',2);
		formData.append('active',true);
		formData.append('description',"Description");
		formData.append('file_type','jpg');

		$.ajax({
			type: 'POST',
		    url: url,
		    data: formData,
		    contentType: false,
		    processData: false
		});
		url = "/video/end_file";
	};

	if (window.File && window.FileReader && window.FileList && window.Blob) {
	    document.getElementById('filePicker').addEventListener('change', handleFileSelect, false);
	} else {
	    alert('The File APIs are not fully supported in this browser.');
	}
});


</script>
<body>
	<div>
    <div>
        <label for="filePicker">Choose or drag a file:</label><br>
        <input type="file" id="filePicker">
    </div>
    <div>
        <label for="filePicker">Choose or drag a file:</label><br>
        <input type="file" id="filePicker">
    </div>
    <br>
    <div>
        <h1>Base64 encoded version</h1>
        <textarea id="base64textarea" placeholder="Base64 will appear here" cols="50" rows="15"></textarea>
    </div>
</div>
</body>
</html>