<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript">


$(document).ready(function(){
	var vid;
	var ind = 0;
	$("input[value='new']").click(function(){
		
		$.ajax({
			type: "GET",
		    url: "/video/new?debug=true&title=asd&course_id=1",
		    contentType: false,
		    processData: false
		}).done(function(data){
			console.log(data);
			vid = data;
		});
	});

	$("input[value='end']").click(function(){
		
		$.ajax({
			type: "GET",
		    url: "/video/end?id="+vid.data.id+"&length=22&debug=true",
		    contentType: false,
		    processData: false
		}).done(function(data){
			console.log(data);
		});
	});


	var f = true;
	var handleFileSelect = function(evt) {
	    var files = evt.target.files;
	    var file = files[0];

	    var formData = new FormData();
		formData.append('video', file);
		formData.append('id',vid.data.id);
		formData.append('index',ind);
		formData.append('active',true);
		formData.append('description',"Description");
		formData.append('file_type','mp4');

		$.ajax({
			type: "POST",
		    url: "/video/upload?debug=true",
		    data: formData,
		    contentType: false,
		    processData: false
		}).done(function(data){
			console.log(data);
			ind++;
		});
	};

	if (window.File && window.FileReader && window.FileList && window.Blob) {
	    document.getElementById('filePicker').addEventListener('change', handleFileSelect, false);
	} else {
	    alert('The File APIs are not fully supported in this browser.');
	}
});


</script>
<body>
	<div>
    <div>
        <input type="button" value="new"></input>
    </div>
    <div>
        <label for="filePicker">Choose or drag a file:</label><br>
        <input type="file" id="filePicker">
    </div>
    <div>
        <input type="button" value="end"></input>
    </div>
    <br>
    <div>
        <h1>Base64 encoded version</h1>
        <textarea id="base64textarea" placeholder="Base64 will appear here" cols="50" rows="15"></textarea>
    </div>
</div>
</body>
</html>